<div>
    <h1 class="text-center my-3">Top Business News </h1>
    <div class="d-flex flex-wrap mb-3" style="overflow-y: scroll;height: 525px;">
        <div *ngFor="let news of businessData" class="card news-card m-2  " style="width: 18rem;">
            <img [src]="news.urlToImage ? news.urlToImage:'https://logonoid.com/images/daily-news-logo.png'" class="card-img-top" alt="..." height="200px">
            <span class="badge bg-danger sourceBadge">{{news.category}}</span>
            <div class="card-body">
              <h5 class="card-title">{{news.name}}</h5>
              <p class="card-text">{{news.description.slice(0,100)}}...</p>
              <p class="card-text"><small class="text-muted">{{ news.publishedAt | date : "EEEE dd-mm-YYYY hh:mm aa" }}</small></p>
              <a href={{news.url}} class="btn btn-dark">Read More</a>
            </div>
          </div>
    </div>
</div>